<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <h1>
        <%= title %>
    </h1>
    <p>Welcome to
        <%= title %>
    </p>

    <h2>Lista de agentes</h2>
    <% agentes.forEach(agente => { %>
        <p>Agente
            <%= agente.name %> tiene
                <%= agente.age %> años</p>
        <% }) %>
</body>

</html>